@use '../../../../style/main.scss' as *;

.ant-select-focused:where(.css-dev-only-do-not-override-1soinom).ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}

.ant-select-item-option-content {
  white-space: normal !important;
  word-break: break-word;
}

.ant-select-multiple {
  &.ant-select-show-arrow .ant-select-selector {
    overflow-y: auto;
    max-height: 8rem;
  }
}
.antd-custom-select {
  &.ant-select-disabled {
    .ant-select-selection-item {
      // color: $base-placeholder-color !important;
    }

    &.ant-select-multiple {
      .ant-select-selector {
        overflow: hidden;
      }
    }
  }

  &.default {
    width: 100%;
    height: auto;
    // &.error {
    //   border-width: 1px !important;
    //   border-color: #ef4444;
    //   .ant-select-selector {
    //     .ant-select-selection-placeholder {
    //       color: #ef4444;
    //     }
    //   }
    // }
    &.error {
      .ant-select-selector {
        border: 1px solid #ef4444 !important;
        border-radius: 12px !important;
        .ant-select-selection-placeholder {
          color: #ef4444;
        }
      }
    }

    .ant-select-selector {
      // min-height: 52px;
      height: auto !important;
      // border-radius: inherit; // inherit from the parent - important
      background: rgb(255, 255, 255);
      color: black;
      // padding: 10px 10px; // matches figma padding // added 10px on py for multiple selected source of income select

      .ant-select-selection-search input {
        color: black !important;

        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }

      // .ant-select-selection-item {
      //   color: black;

      //   font-weight: 400;
      //   font-size: 14px;
      //   line-height: 20px;
      // }

      &:has(.ant-select-selection-overflow) {
        padding-left: 12px;

        .ant-select-selection-item-remove {
          transform: scale(1.2);
          color: black;
          margin-left: 2px;
          margin-bottom: 1px;
          margin-right: 2px;
        }
      }

      .ant-select-selection-placeholder {
        // color: $base-placeholder-color;
        // font-size: 14px;
        // line-height: 20px;
      }
    }
  }
}
.ant-select-dropdown {
  .ant-select-item {
    padding: 5px 6px;
  }
}
